@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column1 {
  background: #6b7dc7;
  float: left;
  width: 25%;
  height: 200px;
} 
.column1 a,h4
{
 text-decoration:none;
 font-family:'Concert One';
 color:white;
}
footer a:hover{
 color:red;
}
h4{
	font-family:'Poppins';
	font-weight:bold;
}	
.underline
{
	border-bottom:2px solid red;
	width:24%;	
	line-height:2em;
}
ul
{
	list-style:none;
	font-size:20px;
}
.fa
{
	margin-left:5%;
	font-size:20px;
	padding:2% 3%;
}
footer .fa
{
	border-radius:50%;
	background:white;
	color: #6b7dc7;
}
footer .fa:hover
{
	background:red;
	color: white;
}